<p id='question'>Ask your coach anything:</p>
<form action="/answer">
  <div class="input-group mb-3">
    <input type="text" name="question" id='question_input' class="form-control">
    <div class="input-group-append">
      <input type="submit" class="btn btn-primary-secondary btn-primary" value="Ask!">
    </div>
  </div>
</form>
